.nav:not(.sidebar) {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}

.nav > * {
    width: 100%;
    color: white;
    padding-bottom: .2em;
    text-decoration: none;
    background: black;
    border-top: solid;
    border-top-width: thin;
    margin-top: .3em;
    font-weight: 900;
    text-align: left;
    padding-left: 5%;
    padding-top: .2em;
}

.nav > *:not(:first){
    border-left: solid;
    border-left-width: thin;
}

.nav > .selected {
    background-color: #2850AD;
}

.nav > *:hover:not(#intro) {
    text-decoration: none;
    color: #FCCC0A;
    border-color: white;
}
