body {
  background-color: black;
}

.App {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #FCCC0A
}

.subway {
  border-radius: 100%;
  padding-left: .2em;
  padding-right: .2em;
}

.m-train {
  background-color: #FF6319;
}

.n-train {
  background-color: #FCCC0A;
  color: #333;
}